# Financial Analysis of Company Performance

This notebook aims to analyze the financial performance of companies based on their yearly financial statements. We will calculate key growth metrics, such as Revenue Growth, Net Income Growth, and Compound Annual Growth Rate (CAGR), to understand the trends and performance over time.

## Data Loading and Preparation

We begin by loading the financial data from our dataset. The dataset contains yearly financial statements, including `Total Revenue` and `Net Income` for multiple companies.

The data is already sorted by year for each company, which simplifies our calculations.

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('Downloads/Final_Financial_Data.csv')

## Calculating Revenue and Net Income Growth

To assess the annual growth of each company's revenue and net income, we calculate the percentage change year-over-year.

In [31]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

In [38]:
df.head(9)

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Revenue CAGR (%),Net Income CAGR (%)
0,Microsoft,2021,198270,69899,344607,198298,89035,NaN,NaN,11.189209,12.290027
1,Microsoft,2022,211915,72361,411976,205753,87582,6.882030,3.522225,11.189209,12.290027
2,Microsoft,2023,245122,88136,512163,243686,118548,15.669962,21.800417,11.189209,12.290027
3,Tesla,2021,53823,5519,62131,30548,11497,NaN,NaN,34.089000,64.843565
4,Tesla,2022,81462,12556,82338,36440,14724,51.351653,127.504983,34.089000,64.843565
5,Tesla,2023,96773,14997,106618,43009,13256,18.795267,19.440905,34.089000,64.843565
6,Apple,2021,365817,94680,351002,287912,94680,NaN,NaN,2.359692,1.215156
7,Apple,2022,394328,99803,352755,302083,99803,7.793788,5.410858,2.359692,1.215156
8,Apple,2023,383285,96995,352583,290437,96995,-2.800461,-2.813543,2.359692,1.215156

# Profitability Ratios

These ratios help us assess how effectively the companies are generating profits.

# Leverage Ratios

Leverage ratios indicate the degree to which a company is financing its operations through debt.

# Efficiency Ratios

Efficiency ratios measure how well a company is utilizing its assets.

# Return Metrics

Return metrics provide insights into the returns generated relative to assets and equity.

In [52]:
df['Net Profit Margin (%)'] = (df['Net Income'] / df['Total Revenue']) * 100
df['Debt Ratio'] = df['Total Liabilities'] / df['Total Assets']
df['Debt-to-Equity Ratio'] = df['Total Liabilities'] / (df['Total Assets'] - df['Total Liabilities'])
df['Asset Turnover Ratio'] = df['Total Revenue'] / df['Total Assets']
df['Cash Flow to Debt Ratio'] = df['Cash Flow from Operating Activities'] / df['Total Liabilities']
df['ROA (%)'] = (df['Net Income'] / df['Total Assets']) * 100
df['ROE (%)'] = (df['Net Income'] / (df['Total Assets'] - df['Total Liabilities'])) * 100

## Compound Annual Growth Rate (CAGR) Calculation

The CAGR is a useful metric for understanding the average annual growth rate of a company's revenue or net income over a specified period. Unlike the simple growth rate, CAGR provides a smoothed rate of growth that represents the consistent annual return over the period.

We implement this calculation using a custom function and apply it to each company's data.

In [55]:
#Compound Annual Growth Rate (CAGR):
def calculate_cagr(series):
    n = len(series) - 1  # number of periods (years)
    start_value = series.iloc[0]
    end_value = series.iloc[-1]
    return ((end_value / start_value) ** (1 / n) - 1) * 100

# Calculate Revenue CAGR
df['Revenue CAGR (%)'] = df.groupby('Company')['Total Revenue'].transform(calculate_cagr)

# Calculate Net Income CAGR
df['Net Income CAGR (%)'] = df.groupby('Company')['Net Income'].transform(calculate_cagr)

# Fill NA values that result from pct_change calculations with 0 or an appropriate value
df.fillna(0, inplace=True)

In [56]:
df.head(9)

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Revenue CAGR (%),Net Income CAGR (%),Net Profit Margin (%),Debt Ratio,Debt-to-Equity Ratio,Asset Turnover Ratio,Cash Flow to Debt Ratio,ROA (%),ROE (%)
0,Microsoft,2021,198270,69899,344607,198298,89035,0.000000,0.000000,11.189209,12.290027,35.254451,0.575432,1.355337,0.575351,0.448996,20.283685,47.774915
1,Microsoft,2022,211915,72361,411976,205753,87582,6.882030,3.522225,11.189209,12.290027,34.146238,0.499430,0.997721,0.514387,0.425666,17.564373,35.088715
2,Microsoft,2023,245122,88136,512163,243686,118548,15.669962,21.800417,11.189209,12.290027,35.955973,0.475798,0.907661,0.478602,0.486479,17.208584,32.828138
3,Tesla,2021,53823,5519,62131,30548,11497,0.000000,0.000000,34.089000,64.843565,10.253981,0.491671,0.967229,0.866283,0.376359,8.882844,17.474591
4,Tesla,2022,81462,12556,82338,36440,14724,51.351653,127.504983,34.089000,64.843565,15.413322,0.442566,0.793934,0.989361,0.404061,15.249338,27.356312
5,Tesla,2023,96773,14997,106618,43009,13256,18.795267,19.440905,34.089000,64.843565,15.497091,0.403393,0.676146,0.907661,0.308215,14.066105,23.576852
6,Apple,2021,365817,94680,351002,287912,94680,0.000000,0.000000,2.359692,1.215156,25.881793,0.820257,4.563512,1.042208,0.328850,26.974205,150.071327
7,Apple,2022,394328,99803,352755,302083,99803,7.793788,5.410858,2.359692,1.215156,25.309641,0.856354,5.961537,1.117852,0.330383,28.292441,196.958873
8,Apple,2023,383285,96995,352583,290437,96995,-2.800461,-2.813543,2.359692,1.215156,25.306234,0.823741,4.673462,1.087077,0.333962,27.509835,156.076015

In [62]:
# Optionally, you could summarize these findings for each company
summary = df.groupby('Company').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

df.head(9)

,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Revenue CAGR (%),Net Income CAGR (%),Net Profit Margin (%),Debt Ratio,Debt-to-Equity Ratio,Asset Turnover Ratio,Cash Flow to Debt Ratio,ROA (%),ROE (%)
0,Microsoft,2021,198270,69899,344607,198298,89035,0.000000,0.000000,11.189209,12.290027,35.254451,0.575432,1.355337,0.575351,0.448996,20.283685,47.774915
1,Microsoft,2022,211915,72361,411976,205753,87582,6.882030,3.522225,11.189209,12.290027,34.146238,0.499430,0.997721,0.514387,0.425666,17.564373,35.088715
2,Microsoft,2023,245122,88136,512163,243686,118548,15.669962,21.800417,11.189209,12.290027,35.955973,0.475798,0.907661,0.478602,0.486479,17.208584,32.828138
3,Tesla,2021,53823,5519,62131,30548,11497,0.000000,0.000000,34.089000,64.843565,10.253981,0.491671,0.967229,0.866283,0.376359,8.882844,17.474591
4,Tesla,2022,81462,12556,82338,36440,14724,51.351653,127.504983,34.089000,64.843565,15.413322,0.442566,0.793934,0.989361,0.404061,15.249338,27.356312
5,Tesla,2023,96773,14997,106618,43009,13256,18.795267,19.440905,34.089000,64.843565,15.497091,0.403393,0.676146,0.907661,0.308215,14.066105,23.576852
6,Apple,2021,365817,94680,351002,287912,94680,0.000000,0.000000,2.359692,1.215156,25.881793,0.820257,4.563512,1.042208,0.328850,26.974205,150.071327
7,Apple,2022,394328,99803,352755,302083,99803,7.793788,5.410858,2.359692,1.215156,25.309641,0.856354,5.961537,1.117852,0.330383,28.292441,196.958873
8,Apple,2023,383285,96995,352583,290437,96995,-2.800461,-2.813543,2.359692,1.215156,25.306234,0.823741,4.673462,1.087077,0.333962,27.509835,156.076015